@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
button {
  cursor: pointer;
}

.btn-explore {
  background: linear-gradient(#ff79da, #9356dc);
  height: 48px;
  width: 210px;
  font-size: 15px;
  border: none;
  border-radius: 40px;
  margin-top: 12px;
  outline: transparent;
  box-shadow: 0px 10px 8px #d9d9d9;
}
.btn-explore a {
  text-decoration: none;
  color: white;
}

.btn-steps {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  border-radius: 18px;
  width: 100%;
  height: 65px;
  border: none;
  outline: transparent;
  box-shadow: 0px 10px 8px #d9d9d9;
}
.btn-steps:hover {
  background-color: rgba(147, 86, 220, 0.1);
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.btn-steps:hover i {
  color: #9356dc;
}
.btn-steps .round {
  position: relative;
  top: 5px;
  left: -20px;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
.btn-steps .round p {
  color: #fff;
  font-size: 14px;
  padding-top: 4px;
  margin-left: -2px;
}

.btn-txt {
  display: flex;
  margin-top: 10px;
  position: relative;
  top: -50px;
}
.btn-txt i {
  display: inline;
  height: 30px;
  margin-top: 24px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 18px;
  color: #7e7e7e;
}
.btn-txt h3 {
  display: block;
  font-size: 15px;
  position: relative;
  top: 10px;
  margin-right: 0px;
}

.btn-new button {
  font-family: "Roboto", sans-serif;
  background-color: #99e2d0;
  border-color: #99e2d0;
  color: #008766;
  display: inline;
  position: relative;
  float: right;
  top: 50px;
  right: 20px;
  height: 35px;
  width: 100px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 0 0 0 rgba(153, 226, 208, 0.7);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn-new-2 button {
  font-family: "Roboto", sans-serif;
  background-color: #99e2d0;
  border-color: #99e2d0;
  color: #008766;
  display: inline;
  position: relative;
  float: right;
  top: 50px;
  right: -20px;
  height: 35px;
  width: 100px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 0 0 0 rgba(153, 226, 208, 0.7);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.searching-area {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: inset 0 5px 5px #d9d9d9;
}

.search-bar {
  display: flex;
  justify-content: center;
  color: #353535;
  width: 300px;
}
.search-bar i {
  position: relative;
  left: 30px;
  font-size: 16px;
  margin-top: 15px;
  height: 30px;
}
.search-bar input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  text-align: center;
  outline: transparent;
}
.search-bar input::placeholder {
  color: #353535;
}

.restaurants {
  display: block;
}
.restaurants img {
  display: inline;
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
}
.restaurants footer {
  display: block;
  margin-top: -20px;
  background-color: white;
  padding-bottom: 2px;
  border-radius: 0 0 20px 20px;
  padding-left: 20px;
  box-shadow: 0px 10px 8px #d9d9d9;
}
.restaurants footer a {
  text-decoration: none;
  color: black;
}
.restaurants footer a :visited {
  text-decoration: none;
}
.restaurants footer h2 {
  width: 200px;
  font-size: 18px;
  padding-top: 15px;
}
.restaurants footer p {
  margin-top: -10px;
  font-size: 16px;
  width: 200px;
}
.restaurants footer i {
  position: relative;
  top: -55px;
  right: 30px;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}

label {
  display: block;
  cursor: pointer;
}

input:checked + label .far {
  font-weight: bold;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  animation: pulse 0.4s ease-in;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3;
  }
}
@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(153, 226, 208, 0);
  }
}
svg.tea {
  --secondary: #9356dc;
  transform: scale(1.5);
  display: block;
  margin: auto;
}
svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}
svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}
svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}
@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

.restaurants-img {
  width: 100%;
}

.menu-bloc {
  height: 200px;
  position: relative;
  top: -90px;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
}
.menu-bloc h1 {
  font-family: "Shrikhand", cursive;
  padding: 30px 0 30px 30px;
  font-size: 35x;
}
.menu-bloc label, .menu-bloc i {
  position: relative;
  float: right;
}

body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}
.logo__image {
  height: 30px;
}

.explore {
  background-color: #f6f6f6;
  padding: 35px 30px 60px 30px;
  text-align: center;
}
.explore h1 {
  font-size: 24px;
  margin: 0 30px 0 30px;
}
.explore h2 {
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}

.running-steps {
  margin: 45px 30px 50px 30px;
}
.running-steps h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.running-steps .steps-bloc {
  margin-left: 15px;
}

.restaurants-bloc {
  padding: 30px 30px 70px 30px;
  background-color: #f6f6f6;
}
.restaurants-bloc h1 {
  font-size: 26px;
  margin-bottom: -12px;
}

.footer-page {
  background-color: #353535;
  margin-top: -20px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.footer-page h1 {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 20px;
  padding-top: 25px;
  margin-bottom: 20px;
}
.footer-page a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}
.footer-page i {
  color: #fff;
  width: 30px;
  font-size: 15px;
}

/*# sourceMappingURL=styles.css.map */
