@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
button {
  cursor: pointer;
}

.btn-explore {
  background: linear-gradient(#ff79da, #9356dc);
  height: 48px;
  width: 210px;
  font-size: 15px;
  border: none;
  border-radius: 40px;
  margin-top: 12px;
  outline: transparent;
  box-shadow: 0px 5px 15px #d9d9d9;
}
.btn-explore a {
  text-decoration: none;
  color: white;
}

.btn-steps {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  border-radius: 18px;
  width: 100%;
  height: 65px;
  border: none;
  outline: transparent;
  box-shadow: 0px 5px 15px #d9d9d9;
}
.btn-steps:hover {
  background-color: rgba(147, 86, 220, 0.1);
  transform: scale(1.05);
  transition: 0.2s ease-in;
}
.btn-steps:hover i {
  color: #9356dc;
}
.btn-steps .round {
  position: relative;
  top: 5px;
  left: -20px;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
.btn-steps .round p {
  color: #fff;
  font-size: 14px;
  padding-top: 4px;
  margin-left: -2px;
}

.btn-txt {
  display: flex;
  margin-top: 10px;
  position: relative;
  top: -50px;
}
.btn-txt i {
  display: inline;
  height: 30px;
  margin-top: 24px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 18px;
  color: #7e7e7e;
}
.btn-txt h3 {
  display: block;
  font-size: 15px;
  position: relative;
  top: 10px;
  margin-right: 0px;
}

.heart {
  display: none;
  position: relative;
}
.heart label {
  position: absolute;
  cursor: pointer;
}

.heart:checked + label .far {
  font-weight: bold;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  animation: pulse 0.4s ease-in;
}

.btn-cmd {
  background: linear-gradient(#ff79da, #9356dc);
  height: 48px;
  width: 170px;
  font-size: 15px;
  border: none;
  border-radius: 40px;
  margin-top: 12px;
  outline: transparent;
  box-shadow: 0px 5px 15px #d9d9d9;
}
.btn-cmd a {
  text-decoration: none;
  color: white;
}

.btn-explore:hover, .btn-cmd:hover {
  filter: brightness(110%);
  transition: 0.5s ease;
  box-shadow: 0px 5px 15px #7a7979;
}

.searching-area {
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: inset 0 5px 5px #d9d9d9;
}

.search-bar {
  display: flex;
  justify-content: center;
  color: #353535;
  width: 300px;
}
.search-bar i {
  position: relative;
  left: 30px;
  font-size: 16px;
  margin-top: 15px;
  height: 30px;
}
.search-bar input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  text-align: center;
  outline: transparent;
}
.search-bar input::placeholder {
  color: #353535;
}

#chevron-left {
  display: none;
}

.restaurants {
  display: block;
  margin-top: 15px;
  height: 253px;
}
.restaurants__1::before, .restaurants__2::before {
  content: "Nouveau";
  display: block;
  float: right;
  position: absolute;
  margin-top: 20px;
  right: 50px;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 25px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding-top: 7px;
  box-shadow: 0 0 0 0 rgba(153, 226, 208, 0.7);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}
.restaurants img {
  display: inline;
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0 0;
}
.restaurants .article-footer {
  display: block;
  position: relative;
  bottom: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding-left: 15px;
  box-shadow: 0px 5px 15px #d9d9d9;
}
.restaurants .article-footer a {
  text-decoration: none;
  color: black;
}
.restaurants .article-footer a :visited {
  text-decoration: none;
}
.restaurants .article-footer h2 {
  font-size: 18px;
  padding-top: 15px;
  margin-bottom: 0;
}
.restaurants .article-footer p {
  display: inline-block;
  margin-top: 5px;
  font-size: 16px;
}
.restaurants .article-footer i {
  display: block;
  float: right;
  position: relative;
  bottom: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3;
  }
}
@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(153, 226, 208, 0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes padding {
  0% {
    padding: 0;
  }
  100% {
    padding-right: 70px;
  }
}
@keyframes resize {
  0% {
    width: auto;
  }
  100% {
    width: 190px;
  }
}
@keyframes sentBack {
  0% {
    position: fixed;
  }
  50% {
    position: fixed;
  }
  90% {
    position: fixed;
    height: 100%;
  }
  100% {
    position: relative;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  8% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  14% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  20% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes vanish {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body * {
  box-sizing: border-box;
}

.loader-spinner {
  animation: fadeout ease 5s;
  animation-fill-mode: forwards;
  position: fixed;
}

.loader__bloc {
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  transition: all 0.1s linear;
  opacity: 0;
  height: 100%;
  transform: scale(10);
  background: #9356dc;
  animation: sentBack ease-in-out 6s;
  animation-fill-mode: forwards;
}

.loader-spinner .loader__bloc {
  opacity: 1;
  transform: scale(1);
}

.loader__bloc > div > div {
  animation-play-state: running;
  border: 5px solid #ff79da;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  border-left-color: #99e2d0;
  width: 100%;
  height: 100%;
}

.loader__bloc > div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 100px;
  padding: 5px;
}

.loader-spinner .loader__bloc div div {
  animation-play-state: running;
}

.loader-spinner .loader__bloc i {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
}

.loader-spinner .loader__bloc i:nth-of-type(1) {
  animation: loadicons 5s infinite ease-in-out;
}

.loader-spinner .loader__bloc i:nth-of-type(2) {
  animation: loadicons 5s 1s infinite ease-in-out;
}

.loader-spinner .loader__bloc i:nth-of-type(3) {
  animation: loadicons 5s 2s infinite ease-in-out;
}

.loader-spinner .loader__bloc i:nth-of-type(4) {
  animation: loadicons 5s 3s infinite ease-in-out;
}

.loader-spinner .loader__bloc i:nth-of-type(5) {
  animation: loadicons 5s 4s infinite ease-in-out;
}

.restaurant-img {
  height: 280px;
}

.fa-arrow-left {
  display: block;
  float: left;
  position: relative;
  top: 5px;
  left: -15px;
  font-size: 20px;
}

.menu-bloc {
  height: auto;
  position: relative;
  top: -90px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-bottom: 50px;
  margin-bottom: -100px;
}
.menu-bloc__name {
  font-family: "Shrikhand", cursive;
  padding: 30px 0 5px 30px;
  font-size: 26px;
}
.menu-bloc label, .menu-bloc i {
  position: relative;
  float: right;
  right: 20px;
  bottom: 28px;
  font-size: 25px;
}
.menu-bloc .btn-cmd {
  display: block;
  margin: auto;
  margin-top: 40px;
}

.menu__elements {
  margin: 20px;
}
.menu__elements :nth-of-type(1) {
  animation: fadein 1s ease-in;
}
.menu__elements :nth-of-type(2) {
  animation: fadein 1.3s ease-in;
}
.menu__elements :nth-of-type(3) {
  animation: fadein 1.8s ease-in;
}
.menu__elements :nth-of-type(4) {
  animation: fadein 2s ease-in;
}
.menu__elements--titles {
  display: block;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
.menu__elements--underlines {
  margin-left: 10px;
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}
.menu__elements--meals {
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 70px;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px #d9d9d9;
  cursor: pointer;
}
.menu__elements--meals:hover .selector-bloc {
  animation: padding 1s;
  animation-fill-mode: forwards;
}
.menu__elements--meals:hover .selector-bloc i {
  animation: rotation 1.5s;
}
.menu__elements--meals:hover .text-bloc {
  animation: resize 1s;
  animation-fill-mode: forwards;
}
.menu__elements--meals .text-bloc {
  height: 50px;
  max-width: 220px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__elements--meals h1 {
  display: block;
  margin: 0 0 5px 0;
  font-size: 17px;
  margin-bottom: -15px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__elements--meals p {
  display: inline;
  font-size: 14px;
}
.menu__elements--meals .selector-bloc {
  display: block;
  float: right;
  width: 20px;
}
.menu__elements--meals .price {
  display: block;
  float: right;
  position: relative;
  margin-right: 15px;
  left: 0px;
  bottom: 25px;
  margin-top: 0;
  font-weight: bold;
}

.btn-selection {
  display: block;
  float: right;
  height: 85px;
  width: 70px;
  position: relative;
  bottom: 80px;
  left: 90px;
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
}
.btn-selection .selectors {
  visibility: hidden;
}
.btn-selection label {
  position: relative;
  top: 65px;
  right: 7px;
  color: #ffffff;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.fa-chevron-left i {
  display: none;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}
.logo__image {
  height: 30px;
}
.logo a {
  text-decoration: none;
  color: black;
}

.explore {
  background-color: #f6f6f6;
  padding: 8px 30px 50px 30px;
  text-align: center;
}
.explore h1 {
  margin-top: 30px;
  font-size: 26px;
}
.explore h2 {
  margin-top: -10px;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}

.running-steps {
  margin: 45px 30px 50px 30px;
}
.running-steps h1 {
  font-size: 24px;
  margin-bottom: 30px;
}
.running-steps .steps-bloc {
  margin-left: 15px;
}

.reservation {
  background-color: #f6f6f6;
  padding: 30px 30px 70px 30px;
}
.reservation h1 {
  font-size: 26px;
}

.footer-page {
  background-color: #353535;
  margin-top: -20px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.footer-page h1 {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 20px;
  padding-top: 25px;
  margin-bottom: 20px;
}
.footer-page a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}
.footer-page i {
  color: #fff;
  width: 30px;
  font-size: 15px;
}

@media all and (min-width: 1024px) {
  .logo {
    text-align: left;
  }

  .searching-area {
    justify-content: flex-end;
  }

  .bloc-1-desktop {
    display: flex;
    justify-content: space-around;
  }

  .explore {
    display: inline-block;
    text-align: start;
    margin-top: 60px;
    border-radius: 0 50px 0 50px;
    max-height: 200px;
    min-width: 580px;
    margin-right: 50px;
    margin-left: 40px;
  }
  .explore .btn-explore {
    display: block;
    float: right;
  }

  .running-steps {
    display: inline-block;
    height: 230px;
    margin-top: 10px;
  }
  .running-steps h1 {
    display: block;
    font-size: 18px;
  }
  .running-steps .steps-bloc {
    display: block;
    max-width: 500px;
    margin-top: -40px;
    margin-left: -60px;
    transform: scale(0.8);
  }

  .reservation {
    margin: 0 0px 20px 0px;
    padding: 0 0 40px 0;
    border-radius: 150px 150px 0 0;
  }
  .reservation h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 30px;
  }

  .restaurants-bloc {
    display: flex;
    justify-content: space-around;
  }

  .chevrons {
    display: block;
    font-size: 50px;
    margin-top: 100px;
    color: #d9d9d9;
  }
  .chevrons:hover {
    color: #99e2d0;
  }

  .restaurants {
    width: 20%;
  }
  .restaurants__1::before, .restaurants__2::before {
    position: relative;
    top: 50px;
    float: right;
    right: 20px;
  }
  .restaurants__1, .restaurants__2 {
    margin-top: -35px;
  }
  .restaurants:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
  }

  .footer-page {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
