@import "./utils/variables";
@import  "./bases/mixins.scss";
@import  "./components/buttons";
@import "./components/input";
@import "./components/articles-index";
@import "./utils/keyframes";
@import "./components/loader-spinner";
@import "./pages/restaurants-menus";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


// *{
//     border: solid black 1px;
// }


body{
    margin: 0;
    overflow-x: hidden;
    @include text
}

.logo{
    text-align: center;
    margin-bottom: 10px;
    &__image{
        height: 30px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.explore{
    background-color: $background-color;
    padding: 8px 30px 50px 30px;
    text-align: center;
    h1{
        margin-top: 30px;
        font-size: 26px;
        // margin-right: 10px;
    }
    h2{
        margin-top: -10px;
        font-weight:300;
        font-size: 18px;
        color: rgb(53, 53, 53);
    }
}

.running-steps{
    margin: 45px 30px 50px 30px;
    h1{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .steps-bloc{
        margin-left: 15px;
    }
}

.restaurants-bloc{
    padding:30px 30px 70px 30px;
    background-color: $background-color;
    h1{
        font-size: 26px;
    }
}

.footer-page{
    background-color: $footer-color;
    margin-top: -20px;
    padding-left: 30px;
    padding-bottom: 30px;
    h1{
        color:#fff;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
        font-size: 20px;
        padding-top: 25px;
        margin-bottom: 20px;
    }
    a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 10px;
        font-weight:400;
        font-size: 15px;

    }
    i{
        color: #fff;
        width: 30px;
        font-size: 15px;
    }
}

// MEDIA QUERIES 


// @media all and (min-width: 1024px){

//     // *{
//     //     border: solid 1px black;
//     // }

//     .logo{
//         margin: 0;
//         display: block;
//         margin: 40px 0 0 40px;
//         img{
//             float: left;
//             height: 50px;
//             margin-right: 50px;
//         }
//         a{
//             position: relative;
//             float: left;
//             height: 30px;
//         }
//     }

// .first-section{
//     position: relative;
//     top: 100px;
// }

// .search-bar{
//     i{
//         position: relative;
//         left: -10px;
//         font-size: 22px;
//     }
//     input{
//         margin-top: 8px;
//     }
// }

// .first-section{
//     display: block;
//     margin: auto;
// }

// .searching-area{
//     position: relative;
//     bottom: 120px;
//     width: 300px;
//     border-radius: 10px;
//     display: block;
//     float: right;
//     margin: 10px 40px 0 0;
//     @include box-shadow;
// }

// .explore{
//     display: block;
//     width: 50%;
//     height: 250px;
//     margin-left: 30px;
//     border-radius: 0 70px 0 70px;
//     text-align: left;
//     padding-top: 20px;
//     h1{
//         font-size: 30px;
//     }
//     h2{
//        font-size: 18px;
//     }
// }

// .btn-explore{
//     position: relative;
//     top: 70px;
//     float: right;
//     right: 40px;

// }


// .running-steps{
//     position: relative;
//     bottom: 270px;
//     display: block;
//     float: right;
//     right: 50px;
//     width: 30%;
// }

// .btn-new, .btn-new-2{
//     display: none;
// }
// .restaurants-bloc{
//     background-color: white;
//     position: relative;
//     bottom: 290px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     width: 100%;
//     .restaurants{
//         position: relative;
//         right: 80px;
//         width: 20%;
//         margin-right: 20px;
//         margin-top: 80px;
//         h1{
//             display: block;
//         }
//     }
// }











