@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      opacity: 0.0;
   }
   25% {
      -webkit-transform: scale(1.35);
      opacity: 0.1;
   }
   50% {
      -webkit-transform: scale(1.7);
      opacity: 0.3;
   }
   // 75% {
   //    -webkit-transform: scale(2.05);
   //    opacity: 0.5;
   // }
   // 100% {
   //    -webkit-transform: scale(2.4);
   //    opacity: 0.0;
   // }
  }

  @keyframes battement {
   to {
     box-shadow: 0 0 0 30px rgba(153, 226, 208, 0);
   }
 }