// ANIMATION EFFET BOUTON 'NOUVEAU'
@keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      opacity: 0.0;
   }
   25% {
      -webkit-transform: scale(1.35);
      opacity: 0.1;
   }
   50% {
      -webkit-transform: scale(1.7);
      opacity: 0.3;
   }
   // 75% {
   //    -webkit-transform: scale(2.05);
   //    opacity: 0.5;
   // }
   // 100% {
   //    -webkit-transform: scale(2.4);
   //    opacity: 0.0;
   // }
  }
// ANIMATION MENTION FAVORIS
  @keyframes battement {
   to {
     box-shadow: 0 0 0 30px rgba(153, 226, 208, 0);
   }
 }

//  ANIMATION BOUTON SELECTION MENU 
@keyframes rotation{
   0%{
      transform: rotate(0);
   }

   100%{
      transform: rotate(360deg);
   }
}
@keyframes padding{
   0%{
      padding:0;
   }
   100%{
      padding-right: 70px;
   }
   
}

@keyframes resize{
   0%{
      width: auto;
   }
   100%{
      width: 190px;
   }
}

// ANIMATION LOADER SPINNER

@keyframes sentBack {
   0%{
     position: fixed;
   }
   50%{
     position: fixed;
   }
   90%{
     position: fixed;
     height: 100%;
   }
   100%{
     position: relative;
   }
 }

 @keyframes fadeout{
   0%{
     opacity: 1;
   }
 
   50%{
     opacity: 1;
   }
 
   90%{
     opacity: 1;
   }
 
   100%{
     opacity: 0;
   }
 }

 @keyframes rotate {
   100% {
     transform: rotate(360deg);
   }
 }

 @keyframes loadicons {
   0% {
     transform: scale(0) translate3d(0, 0, 0);
   }
   8% {
     transform: scale(1.2) translate3d(0, 0, 0);
   }
   14% {
     transform: scale(1) translate3d(0, 0, 0);
   }
   20% {
     transform: scale(0) translate3d(0, 0, 0);
   }
 }

 @keyframes vanish{
    0%{
       display: block;
    }
    100%{
       display: none;
    }
 }

 //ANIMATION CHARGEMENT MENUS
 @keyframes fadein{
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
 }
