

.restaurant-img{
    height: 280px;
    img{
        width: 100%;
    }
}

.fa-arrow-left{
    display: block;
    float: left;
    position: relative;
    top: 5px;
    left: -15px;
    font-size: 20px;

}
.menu-bloc{
    height: auto;
    position: relative;
    top: -90px;
    background-color: $background-color;
    border-radius: 40px 40px 0 0;
    padding-bottom: 50px;
    margin-bottom: -100px;
    &__name{
        font-family: 'Shrikhand', cursive;
        padding: 30px 0 5px 30px;
        font-size:26px;
    }
    label, i{
        position: relative;
        float: right;
        right: 20px;
        bottom: 28px;
        font-size: 25px;
    }
    .btn-cmd{
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}

.bloc-meals{
    min-height: 370px;
}

.menu__elements{
    min-height: 250px;
    margin: 20px 20px 0 20px;
    .meal-1{
        opacity: 0;
        animation: fadein 2s ease;
        animation-fill-mode: forwards;
    }
    .meal-2{
        opacity: 0;
        animation:  fadein 2s .3s ease;
        animation-fill-mode: forwards;
    }
    .meal-3{
        opacity: 0;
        animation:  fadein 2s .6s;
        animation-fill-mode: forwards;
    }
    .meal-4{
        opacity: 0;
        animation:  fadein 2s .9s;
        animation-fill-mode: forwards;
    }


    &--titles{
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 5px;
    }
    &--underlines{
        margin-left: 10px;
        display: block;
        height: 3px;
        width: 40px;
        background-color: $tertiary-color;
    }
    &--meals{

        .text-bloc{
            width: 100%;
            p{
                width: 80%;
            }
        }

        &:hover .selector-bloc{
            display: block;
            // border: solid 1px black;
            animation: translate 1s 0.1s;
            // width: 30%;
            animation-fill-mode: forwards;
            & i{
               animation: rotation .7s .1s ease-in-out;
            }
        }
        &:hover .text-bloc {
            // background-color: violet;
            animation: resize 1s;
            animation-fill-mode: forwards;
            // border: black solid 1px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 70px;
        background-color: #ffffff;
        padding: 15px;
        margin-top: 15px;
        border-radius: 20px;
        @include box-shadow;
        cursor: pointer;

        .text-bloc{
            display: block;
            height: 50px;
            // width: 80%;
            // max-width: 220px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    
        h2{
            display: inline;
            margin:0 0 5px 0;
            font-size: 17px;
            margin-bottom: -15px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
        }
        p{
            display: inline-block;
            margin-top: 5px;
            font-size: 14px;
            font-weight: 100;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

        .selector-bloc{
            display: block;
            float: right;
            width: 50px;
            // background-color: black;
        }

        .price{
            display: block;
            float: right;
            position: relative;
            left: 0px;
            bottom: 25px;
            margin-top: 0;
            font-weight: bold;
            // border: black solid 1px;
        }
    }   
}
.btn-selection{
    display: block;
    float: right;
    height: 85px;
    width: 70px;
    position: relative;
    bottom: 100px;
    left: 90px;
    // bottom: 40px;
    // left: 100px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiary-color;
    margin-left: 20px;
    .selectors{
        visibility: hidden;
    }
    label{
        position: relative;
        top: 55px;
        right: 7px;
        color: #ffffff;
    }
}

@media all and (max-width: 1295px){

    .menu__elements--meals{
        .text-bloc{
            width: 90%;
        
            p{
                width: 70%;
            }
        }
    }










}