

.restaurant-img{
    height: 280px;
}


.fa-arrow-left{
    display: block;
    float: left;
    position: relative;
    top: 5px;
    left: -15px;
    font-size: 20px;

}
.menu-bloc{
    height: auto;
    position: relative;
    top: -90px;
    background-color: $background-color;
    border-radius: 40px 40px 0 0;
    padding-bottom: 50px;
    margin-bottom: -100px;
    &__name{
        font-family: 'Shrikhand', cursive;
        padding: 30px 0 5px 30px;
        font-size:26px;
    }
    label, i{
        position: relative;
        float: right;
        right: 20px;
        bottom: 28px;
        font-size: 25px;
    }
    .btn-cmd{
        display: block;
        margin: auto;
        margin-top: 40px;
    }
}

.menu__elements{
    margin: 20px;
    
    // &--1{
    //     animation: fadein .2s ease-in;
    // }

    :nth-of-type(1){
        animation: fadein 1s ease-in;
    }
    :nth-of-type(2){
        animation: fadein 1.3s ease-in;
    }
    :nth-of-type(3){
        animation: fadein 1.8s ease-in;
    }
    :nth-of-type(4){
        animation: fadein 2s ease-in;
    }



    &--titles{
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    &--underlines{
        margin-left: 10px;
        display: block;
        height: 3px;
        width: 40px;
        background-color: $tertiary-color;
    }
    &--meals{

        &:hover .selector-bloc{
            animation: padding 1s;
            animation-fill-mode: forwards;
            & i{
               animation: rotation 1.5s;
            }
        }
        &:hover .text-bloc{
            // background-color: violet;
            animation: resize 1s;
            animation-fill-mode: forwards;
            // word-wrap: break-word;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
        }

        // text-overflow: ellipsis;
        // word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 70px;
        background-color: #ffffff;
        padding: 15px;
        margin-top: 15px;
        border-radius: 20px;
        @include box-shadow;
        cursor: pointer;

        .text-bloc{
            height: 50px;
            max-width: 220px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    
        h1{
            display: block;
            margin:0 0 5px 0;
            font-size: 17px;
            margin-bottom: -15px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
        }
        p{
            display: inline;
            // margin-top: 0px;
            font-size: 14px;

        }

        .selector-bloc{
            display: block;
            float: right;
            width: 20px;
        }

        .price{
            display: block;
            float: right;
            position: relative;
            margin-right: 15px;
            left: 0px;
            bottom: 25px;
            margin-top: 0;
            font-weight: bold;
        }
    }   
}
.btn-selection{
    display: block;
    float: right;
    height: 85px;
    width: 70px;
    position: relative;
    bottom: 80px;
    left: 90px;
    // bottom: 40px;
    // left: 100px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiary-color;
    .selectors{
        visibility: hidden;
    }
    label{
        position: relative;
        top: 65px;
        right: 7px;
        color: #ffffff;
    }
}