// @import "./utils/variables";
button{
    cursor: pointer;
}

.explore form{
    color: white;
    text-decoration: none;
}

.btn-explore{
    display: block;
    text-align: center;
    margin: auto;
    background: rgb(255,121,218);
    background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    height: 48px;
    width: 210px;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    margin-top: 12px;
    outline: transparent;
    @include box-shadow;
    color: white;
    text-decoration: none;
    padding-top: 14px;
}

.btn-steps{
    background-color: #f6f6f6;
    margin-bottom: 25px;
    border-radius: 18px;
    width: 100%;
    height: 65px;
    border: none;
    outline: transparent;
    @include box-shadow;
    &:hover{
        background-color: rgba(147, 86, 220, 0.1);
        transform: scale(1.05);
        transition: .2s ease-in;
    }
    &:hover i{
        color: $primary-color;
    }
    .round{
        // display: none;
        position: relative;
        top: 18px;
        left: -10px;
        background-color: $primary-color;
        height: 25px;
        width: 25px;
        border-radius: 30px;
        p{
            color: #fff;
            font-size: 14px;
            padding-top: 4px;
            margin-left: 8px;
        }
    }
    
    }
    .btn-txt{
        display: flex;
        margin-top: 22px;
        position: relative;
        top: -50px;
        i{
            display: inline;
            height: 30px;
            margin-top: 24px;
            margin-left: 30px;
            margin-right: 20px;
            font-size: 18px;
            color: #7e7e7e;
        }
        h3{
            display: block;
            font-size: 15px;
            position: relative;
            top: 10px;
            margin-right: 0px;
            
            
        }
    }

// Bouton Like Heart beating

.heart {
    display: none;
    // visibility:hidden;
    position: relative;
    label{
        position:absolute;
        cursor: pointer;
    }
}
.fa-heart{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    padding-top: 10px;

}

.heart:checked + label .far {
    font-weight: bold;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    animation: pulse .5s ease-in;
}

.btn-cmd{
    float: none ;
    background: rgb(255,121,218);
    background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    height: 48px;
    width: 170px;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    position: relative;
    bottom: 0px;
    // margin-top: 12px;
    outline: transparent;
    @include box-shadow;
    a{
        text-decoration: none;
        color: white;
    }
}

.btn-explore:hover, .btn-cmd:hover{
    filter: brightness(110%); 
    transition: .5s ease;
    @include box-shadow-darken;
}