@media all and (min-width: 1024px){

.logo{
    text-align: left;
}

.searching-area{
    justify-content: flex-end;
}

.bloc-1-desktop{
    display: flex;
    justify-content: space-around;
}
.explore{
    display: inline-block;
    text-align: start;
    margin-top: 60px;
    border-radius: 0 50px 0 50px;
    max-height: 200px;
    min-width: 580px;
    margin-right: 50px;
    margin-left: 40px;
    .btn-explore{
        display: block;
        float: right;
    }
}

.running-steps{
    display: inline-block;
    height: 230px;
    margin-top: 10px;
    h1{
        display: block;
        font-size: 18px;

    }
    .steps-bloc{
        display: block;
        max-width: 500px;
        margin-top: -40px;
        margin-left: -60px;
        transform: scale(.8);
    }
}

// RESTAURANTS

.reservation{
    margin: 0 20px 20px 20px;
    border-radius: 30px;
    h1{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0px;
    }
}
.restaurants-bloc{
    display: flex;
    justify-content: space-around;
}

.restaurants{
    width: 22%;
    &__1::before, &__2::before{
        position: relative;
        top: 50px;
        float: right;
        right: 20px;
    }
    &__1, &__2{
        margin-top: -35px;
    }
    &:hover{
        transform: scale(1.05);
        transition: .2s ease-in;
    }
}

.footer-page{
    text-align: center;
}



}