@media all and (min-width: 700px) and(max-width:1023px){

.running-steps{
    h1{
        text-align: center;
    }
}
    .reservation{
    h1{
        text-align: center;
    }
}

.restaurants-bloc{
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    width: 100%;
    .restaurants{
        width: 45%;
        justify-content: center;
        // align-content: space-between;
        margin-left: 30px;
        // margin-top: 50px;
        &__1, &__2{
            margin-bottom: 60px;
        }
        &__1::before, &__2::before{
            // display: none;
            position: relative;
            top: 50px;
            float: right;
            right: 20px;
        }
    }
}

.loader__bloc p{
    margin-top: 360px;
}


}